<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>shop</title>
	<!-- CSS -->
	<th:block layout:fragment="css">
		<link th:href="@{/css/product.css}" rel="stylesheet">
		<link th:href="@{/css/post.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<div class="ui-component">
		<div class="productInfo">
			<div class="thumbnailBox">
				<div class="zoom-wrapper">
					<img id="thumbnail" th:src="${ mainThumb.thumbnailPath }" th:data-zoom-image="${ mainThumb.savePath }">
				</div>
				<div class="thumbs-wrapper" id="thumbs-gallery">
					<a href="#" class="elevatezoom-gallery active" th:data-image="${ mainThumb.thumbnailPath }" th:data-zoom-image="${ mainThumb.savePath }">
						<img id="thumbs" th:src="${ mainThumb.thumbnailPath }" width="50">
					</a>
					<a href="#" class="elevatezoom-gallery" th:data-image="${ subThumb.thumbnailPath }" th:data-zoom-image="${ subThumb.savePath }">
						<img id="thumbs" th:src="${ subThumb.thumbnailPath }" width="50">
					</a>
				</div>
			</div>
			<div class="infoBox">
				<div class="shareBox">
					<ul>
						<li><a href="#" onclick="shareCurrentPage(); return false;"><i class="fa-solid fa-link"></i> URL</a></li>
					</ul>
				</div>
				<div class="title-wrapper">
					<a href="#">[[${ detail.brand.brandName }]] <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
					<h2 style="margin-bottom: 0;">[[${ detail.prodName }]]</h2>
				</div>
				<div class="price-wrapper">
					<ul>
						<!-- 판매가A. 할인 대상이 아닌 경우 원가 그대로 출력 -->
						<li th:if="${detail.discountRate} == 0">
							<span>[[${#numbers.formatInteger(detail.prodPrice, 3, 'COMMA')}]]원</span> <!-- 세 자리마다 구분자 삽입 -->
						</li>
	                	<!-- 판매가B. 적용된 할인율이 0% 이상인 경우 판매가 산정하여 출력 -->
						<li th:if="${detail.discountRate} > 0">
							<span style="color:#FF0000;">[[${ detail.discountRate }]]%</span>
	                		<del><span>[[${#numbers.formatInteger((detail.prodPrice), 3, 'COMMA')}]]원</span></del>
	                		<br>
	                		<span>[[${#numbers.formatInteger(detail.prodPrice - (detail.prodPrice * detail.discountRate / 100), 3, 'COMMA')}]]원</span>
						</li>
					</ul>
				</div>
				<div class="delivery-wrapper">
					<ul>
						<li class="th"><p>배송 정보</p></li>
						<li class="td">
							<span>16시 이전 주문 시 당일출고(공휴일,토/일요일제외)</span>
						</li>
					</ul>
					<ul>
						<li class="th"><p>배송비</p></li>
						<li class="td">
							<span>3,000원 (2만원 이상 주문 시 무료 배송)</span>
						</li>
					</ul>
				</div>
				<hr>
				<div class="selector-wrapper">
					<form id="productOrderForm" name="productOrderForm" action="">
						<div id="selectedOption">
							<div class="getHiddenPrice" th:value="${ detail.prodPrice - (detail.prodPrice * detail.discountRate / 100) }" th:text="|${#numbers.formatInteger((detail.prodPrice - (detail.prodPrice * detail.discountRate / 100)), 3, 'COMMA')}원|" hidden="hidden"></div>
						</div>
						<div id="sumTotal">
							<span>총 상품금액</span>
							<span id="totalPrice">0</span> 원
						</div>
						<div class="buttonBox">
							<button type="button" class="btn" id="cartBtn" onclick="addToCart()">장바구니</button>
							<button type="button" class="btn btn-dark" id="orderBtn" onclick="orderProduct()">바로구매</button>
							<button type="button" class="btn" id="wishBtn" th:unless="${ memberWishItem }">
								<i class="fa-regular fa-heart" onclick="addToWishList()"></i>
							&nbsp;찜</button>
							<!-- 회원의 경우 위시리스트 상품은 별도 표시 -->
							<button type="button" class="btn" id="wishBtn" th:if="${ memberWishItem }">
								<i th:if="${#lists.contains(memberWishItem, detail.prodNo)}" style="color: #ff0000;" class="fa-solid fa-heart" onclick="addToWishList()"></i>
								<i th:unless="${#lists.contains(memberWishItem, detail.prodNo)}" class="fa-regular fa-heart" onclick="addToWishList()"></i>
							&nbsp;찜</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="ui-component">
			<ul class="nav nav-tabs" id="infoTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">상품상세정보</button>
				</li>
				<li class="nav-item" role="presentation">
				</li>
			</ul>
			<div class="tab-content" id="reviewTabContent" style="margin-bottom: 100px !important;">
				<!-- 상품상세정보 -->
				<div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab" style="text-align: center;">[(${ detail.prodDetailContent })]</div>
				<!-- 상품리뷰 -->
			</div>
			
		</div>
	</div>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/product.js}" type="text/javascript"></script>
    	<script>
	    	/* 썸네일박스 상단 고정 */
	    	$(window).scroll(function(){
	    		let contentTop = $('.thumbnailBox').outerHeight() - $('.infoBox').outerHeight();
	    		let scrollTop = $(this).scrollTop();
	    		if(scrollTop > contentTop) {
	    			$('.thumbnailBox').css('position', 'absolute');
	    		}
	    	});
    	</script>
    	<!-- ElevateZoom-Plus -->
		<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
		<script>
			$('#thumbnail').ezPlus({
				gallery: 'thumbs-gallery',
				cursor: 'pointer',
				galleryActiveClass: 'active',
				imageCrossFade: true,
				scrollZoom: true
			});
			$('#thumbnail').bind('click', function(e){
				var ez = $('#thumbnail').data('ezPlus');
				$.fancyboxPlus(ez.getGalleryList());
				return false;
			});
		</script>
    </th:block>
</body>
</html>