<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>shop</title>
	<!-- CSS -->
	<th:block layout:fragment="css">
		<link th:href="@{/css/product.css}" rel="stylesheet">
		<link th:href="@{/css/paging.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<div class="ui-component">
		<nav class="product-breadcrumb" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">HOME</a></li>
		    <li class="breadcrumb-item active" aria-current="page">[[${ section }]]</li>
		  </ol>
		</nav>
		<div th:unless="${ section == '전체 상품' }">
			<h3>[[${ section }]]</h3>
			<hr>
			<!-- 카테고리 -->
			<div class="category" th:if= "${subCategoryList.size != 0}">
				<ul class="category-list" >
					<li th:each="subCategory : ${subCategoryList}">
						<a class="cate-item" th:href="@{/product/list(section=${subCategory.categoryName}, category=${subCategory.categoryNo})}" th:value="${subCategory.categoryNo}" >
							<span class="cate-img"><img src="/image/sofa.jpg"></span>
							<span class="cate-text"th:text="${subCategory.categoryName}"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
		
		
		<!-- <div class="filter filter-brand">
			<ul>
				<li class="th"><p>브랜드</p></li>
				<li class="td">
					<span class="brand-span" th:each="brand : ${ brandBySection }" th:data-target="${ brand }"><a href="#">[[${ brand }]]</a></span>
				</li>
			</ul>
		</div>-->
	<div class="ui-component">
		<div class="filter-wrap">
			<ul class="filter-list">
					<li >
						<button class="all" type="button"> 모든필터 </button>
					</li>
					<li>
						<button class="all" type="button"> 브랜드 </button>
					</li>
					<li>
						<button class="all" type="button"> 배송 </button>
					</li>
					<li>
						<button class="all" type="button"> 컬러계열 </button>
					</li>
					<li>
						<button class="all" type="button"> 금액 </button>
					</li>
				</ul>
			</div>
		<!-- <div class="sorting"> -->
			
		<!-- </div> -->
		<section class="product-section">
		<form id="sortingForm" name="sortingForm" class="sorting-form" th:object="${itemCriteria}" th:action="@{/product/list}" method="get">
				<!--/* 폼 제출용 */-->
				<input type="hidden" name="page" th:field="*{page}" value="1"> <!--/* 기본 1페이지 */-->
				<input type="hidden" name="items" th:field="*{items}" value="8"> <!--/* 기본 8개씩 정렬 */-->
				<input type="hidden" name="section" th:field="*{section}" th:value="${ section }">
				<input type="hidden" name="category" th:field="*{category}">
				<input type="hidden" name="brand" th:field="*{brand}">
				<input type="hidden" name="min" th:field="*{min}" value="0">
				<input type="hidden" name="max" th:field="*{max}" value="0">
				<input type="hidden" name="tag" th:field="*{tag}">
				<input type="hidden" name="color" th:field="*{color}">
				
				<div class="product-desc">
					<p th:if="${ totNum }">전체 <b>[[${ totNum }]]</b>건</p>
					<p th:if="!${ totNum }">등록된 상품이 없습니다.</p>
				</div>
				<div class="limit-wrapper">
					<ul>
						<li>
							<div id="limitSelector" class="dropdown" tabindex="0">
								<span class="current" style="line-height: 40px;">8개씩</span>
								<div class="list">
									<ul>
										<li class="per" value="8" tabindex="0">8개씩</li>
										<li class="per" value="20" tabindex="0">20개씩</li>
										<li class="per" value="40" tabindex="0">40개씩</li>
									</ul>
								</div>
								<i class="fa-solid fa-chevron-down"></i>
							</div>
						</li>
					</ul>
				</div>
				<div class="selection-wrapper">
					<ul>
						<li>
							<label th:checked="*{sortBy} eq 'popularity'">
								<input type="radio" name="sortBy" value="popularity">
								<span>인기도순</span>
							</label>
							<label th:checked="*{sortBy} eq 'lowest'">
								<input type="radio" name="sortBy" value="lowest">
								<span>낮은가격순</span>
							</label>
							<label th:checked="*{sortBy} eq 'latest'">
								<input type="radio" name="sortBy" value="latest" checked="checked">
								<span>최신등록순</span>
							</label>
							<label>
								<input type="radio" name="sortBy" value="reviewed">
								<span>리뷰많은순</span>
							</label>
							<label>
								<input type="radio" name="sortBy" value="rated">
								<span>평점높은순</span>
							</label>
						</li>
					</ul>
				</div>
			</form>
			<div class="product-list row">
			    <div class="col mb-5" th:each="product : ${ productList }" style="flex: none;">
			        <div class="card" th:data-id="|{product.brand.brandName}$${product.category.categoryName}|">
			            <a th:href="@{/product/details(no=${product.prodNo})}">
			                <!-- Product image-->
			               <div class="card-img-wrapper" th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
			                   <img class="card-img-top" th:src="${ thumbnail.thumbnailPath }">
			               </div> -
			               <!-- Product details-->
			               <div class="card-body">
								<div class="text-left" th:value="${ product.prodPrice - (product.prodPrice * product.discountRate / 100) }">
									<small>[[${ product.brand.brandName }]]</small>
									<br>
									<h6>[[${ product.prodName }]]</h6>
									<br>
									<!-- 판매가A. 할인 대상이 아닌 경우 원가 그대로 출력 -->
									<th:block th:if="${product.discountRate} == 0">
										<b class="price">[[${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}]]원</b>
									</th:block>
									<!-- 판매가B. 적용된 할인율이 0% 이상인 경우 판매가 산정하여 출력 -->
									<th:block th:if="${product.discountRate} > 0">
										<b class="price">
											[[${#numbers.formatInteger(product.prodPrice - (product.prodPrice * product.discountRate / 100), 3, 'COMMA')}]]원
										</b>
										<br>
										<b>[[${ product.discountRate }]]%&nbsp;</b>
										<del>[[${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}]]</del>원
									</th:block>
								</div>
							</div>
						</a>
			       </div>
			   </div>
			</div>
	   </section>
	</div>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/filter.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>