<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.shop.product.model.dao.ProductMapper">

	<!-- 상품 조회용 -->
	<resultMap id="productResultMap" type="com.pro.shop.product.model.dto.ProductDTO">
		<id property="prodNo" column="PROD_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
		<result property="brandNo" column="BRAND_NO"/>
		<result property="brandName" column="BRAND_NAME"/>
		<result property="prodName" column="PROD_NAME"/>
		<result property="prodDesc" column="PROD_DESC"/>
		<result property="discountRate" column="DISCOUNT_RATE"/>
		<result property="prodPrice" column="PROD_PRICE"/>
		<result property="prodSize" column="PROD_SIZE"/>
		<result property="prodColor" column="PROD_COLOR"/>
		<result property="prodDetailContent" column="PROD_DETAIL_CONTENT"/>
		<result property="prodDetailViewCount" column="PROD_DETAIL_VIEW_COUNT"/>
		<result property="prodInstDate" column="PROD_INST_DATE"/>
		<result property="prodUdtDate" column="PROD_UDT_DATE"/>
		<result property="prodAvailYn" column="PROD_AVAIL_YN"/>
		<association property="category" resultMap="categoryResultMap"/> <!-- 1:1 -->
		<association property="brand" resultMap="brandResultMap"/> <!-- 1:1 -->
	<!-- 	<association property="attachmentList" resultMap="thumbnailResultMap"/> 1:1 -->
		<!-- <collection property="option" resultMap="optionResultMap"/> 1:N -->
	</resultMap>
	
	<!-- 공간 조회용 -->
	<resultMap id="roomResultMap" type="com.pro.shop.product.model.dto.RoomsDTO">
		<id property="roomNo" column="ROOM_NO"/>
		<result property="roomName" column="ROOM_NAME"/>
	</resultMap>

	<!-- 상위 카테고리 조회용 -->
	<resultMap id="mainCategoryResultMap" type="com.pro.shop.product.model.dto.MainCategoryDTO">
		<id property="mainCategoryNo" column="MAIN_CATEGORY_NO"/>
		<result property="mainCategoryName" column="MAIN_CATEGORY_NAME"/>
		<result property="roomNo" column="ROOM_NO"/>
	</resultMap>
		
	<!-- 메뉴 카테고리 조회용 -->
	<resultMap id="categoryResultMap" type="com.pro.shop.product.model.dto.CategoryDTO">
		<id property="categoryNo" column="CATEGORY_NO"/>
		<result property="upCategoryNo" column="UP_CATEGORY_NO"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="depth" column="DEPTH"/>
		<result property="sort" column="SORT"/>
	</resultMap>

	<!-- 옵션 카테고리 조회용 -->
	<resultMap id="optCategoryResultMap" type="com.pro.shop.product.model.dto.OptionCategoryDTO">
		<id property="optCategoryNo" column="OPT_CATEGORY_NO"/>
		<result property="optCategoryNm" column="OPT_CATEGORY_NM"/>
	</resultMap>

	<!-- 옵션 조회용 -->
	<resultMap id="optionResultMap" type="com.pro.shop.product.model.dto.OptionDTO">
		<id property="optionNo" column="OPTION_NO"/>
		<result property="refProdNo" column="REF_PROD_NO"/>
		<result property="refStockNo" column="REF_STOCK_NO"/>
		<result property="optionName" column="OPTION_NAME"/>
		<result property="optionValue" column="OPTION_VALUE"/>
		<result property="optionExtChrg" column="OPTION_EXTRA_CHARGE"/>
	<!-- 	<association property="stock" resultMap="stockResultMap"/> 1:1
		<association property="product" resultMap="productResultMap"/> 1:1 -->
	</resultMap>
	
	<!-- 브랜드 조회용 -->
	<resultMap id="brandResultMap" type="com.pro.shop.product.model.dto.BrandDTO">
		<id property="brandNo" column="BRAND_NO"/>
		<result property="brandName" column="BRAND_NAME"/>
	</resultMap>
	
	<!-- 썸네일 조회용 -->
	<resultMap id="thumbnailResultMap" type="com.pro.shop.upload.model.dto.AttachmentDTO">
		<id property="attachmentNo" column="ATTACHMENT_NO"/>
		<result property="refProdNo" column="REF_PROD_NO"/>
		<result property="refRevwNo" column="REF_REVW_NO"/>
		<result property="refInqNo" column="REF_INQ_NO"/>
		<result property="origFileName" column="ORIG_FILE_NAME"/>
		<result property="saveFileName" column="SAVE_FILE_NAME"/>
		<result property="savePath" column="SAVE_PATH"/>
		<result property="thumbnailPath" column="THUMBNAIL_PATH"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="attachStatusYn" column="ATTACH_STATUS_YN"/>
	</resultMap>

	<!-- 공간 목록 조회 -->
	<select id="getRoomList" resultMap="roomResultMap">
		SELECT * FROM TBL_ROOMS
	</select>
	
	<!-- 상위 카테고리에 따른 하위 목록 조회 -->
	<select id="getMainCategoryList" parameterType="int" resultMap="categoryResultMap">
		SELECT
			CATEGORY_NO
			,UP_CATEGORY_NO
			,CATEGORY_NAME
			,DEPTH
			,SORT
		FROM
			TBL_CATEGORY
		WHERE UP_CATEGORY_NO  = #{roomNo}
		START WITH
			CATEGORY_NO = '1'
		CONNECT BY
			PRIOR CATEGORY_NO = UP_CATEGORY_NO
	</select>
	
	<!-- 하위 카테고리에 따른 상위 목록 조회 -->
	<select id="getUpCategoryList" parameterType="int" resultMap="categoryResultMap">
		SELECT 
				CATEGORY_NO
				,UP_CATEGORY_NO
				,CATEGORY_NAME
				,DEPTH
				,SORT
		  FROM TBL_CATEGORY
		 WHERE UP_CATEGORY_NO IS NOT NULL
		START WITH CATEGORY_NO = #{categoryNo}
		CONNECT BY CATEGORY_NO = PRIOR UP_CATEGORY_NO
	</select>
	
	
	<!-- 메뉴 카테고리 목록 조회 -->
	<select id="getCategoryList" resultMap="categoryResultMap">
		SELECT
			CATEGORY_NO
			,UP_CATEGORY_NO
			,LPAD(' ', (LEVEL-1)* 4 ) || CATEGORY_NAME AS CATEGORY_NAME
			,DEPTH
			,SORT
		FROM
			TBL_CATEGORY
		START WITH
			CATEGORY_NO = '1'
		CONNECT BY
			PRIOR CATEGORY_NO = UP_CATEGORY_NO
	</select>
	

	<!-- 메뉴 카테고리 번호 조회 -->
	<select id="checkCategoryNo" parameterType="String" resultType="int">
		SELECT
			   CATEGORY_NO
		  FROM TBL_CATEGORY
		 WHERE CATEGORY_NAME = #{ categoryName }
	</select>
	
	<!-- 옵션 카테고리 목록 조회 -->
	<select id="getOptCategoryList" resultMap="optCategoryResultMap">
		SELECT OPT_CATEGORY_NO, OPT_CATEGORY_NM  
		  FROM TBL_OPTION_CAEGORY 
	</select>
	
	<!-- 브랜드 목록 조회 -->
	<select id="getBrandList" resultMap="brandResultMap">
		SELECT * FROM TBL_BRAND
	</select>

	<!-- 브랜드 번호 조회 -->
	<select id="checkBrandNo" parameterType="String" resultType="int">
		SELECT
			   BRAND_NO
		  FROM TBL_BRAND
		 WHERE BRAND_NAME = #{ brandName }
	</select>
	
	<!-- 브랜드 이름 조회 -->
	<select id="checkBrandName" parameterType="String" resultType="int">
		SELECT
			   COUNT(*)
		  FROM TBL_BRAND
		 WHERE REPLACE(TRIM(BRAND_NAME), ' ', '') = #{ brandName }
	</select>
	
	<!-- 현재 상품번호 조회 -->
	<select id="checkCurrProdNo" resultType="int">
		SELECT
			   SEQ_PROD_NO.CURRVAL
		  FROM DUAL
	</select>
	
	<!-- 전체상품 개수 조회 -->
	<select id="getTotalNumber" parameterType="com.pro.shop.paging.model.dto.Criteria" resultType="_int">
		SELECT
			   COUNT(DISTINCT A.PROD_NO)
		  FROM TBL_PRODUCT A
		<!--   LEFT JOIN TBL_CATEGORY B ON(A.CATEGORY_NO = B.CATEGORY_NO)
		  LEFT JOIN TBL_BRAND C ON(A.BRAND_NO = C.BRAND_NO)
		  LEFT JOIN TBL_OPTION O ON(A.PROD_NO = O.REF_PROD_NO)
		 WHERE 1 = 1 -->
		 <!-- <include refid="dashboardProductSearch"/> -->
	</select>
	
	<!-- 판매중 상품 개수 조회 -->
	<select id="getOnSaleNumber" parameterType="com.pro.shop.paging.model.dto.Criteria" resultType="_int">
		SELECT
			   COUNT(DISTINCT A.PROD_NO)
		  FROM TBL_PRODUCT A
	<!-- 	  LEFT JOIN TBL_CATEGORY B ON(A.CATEGORY_NO = B.CATEGORY_NO)
		  LEFT JOIN TBL_BRAND C ON(A.BRAND_NO = C.BRAND_NO)
		  LEFT JOIN TBL_OPTION O ON(A.PROD_NO = O.REF_PROD_NO)
		 WHERE A.PROD_AVAIL_YN = 'Y'
		 <include refid="dashboardProductSearch"/> -->
	</select>
	
	<!-- 상품개수 조회 -->
	<select id="getTotalNumberByCriteria" parameterType="com.pro.shop.paging.model.dto.ItemCriteria" resultType="_int">
		SELECT COUNT(DISTINCT(A.PROD_NO)) 
		  FROM TBL_PRODUCT A 
		  LEFT JOIN TBL_CATEGORY B ON A.CATEGORY_NO = B.CATEGORY_NO 
		  WHERE A.PROD_AVAIL_YN = 'Y'
		<if test="category != null and category != ''">AND A.CATEGORY_NO IN (SELECT AA.CATEGORY_NO 
																					FROM TBL_CATEGORY AA
																					START WITH AA.CATEGORY_NO = #{ category }
																					CONNECT BY PRIOR AA.CATEGORY_NO = AA.UP_CATEGORY_NO) </if>
	</select>
	
	<select id="getProductList" parameterType="com.pro.shop.paging.model.dto.Criteria" resultMap="productResultMap">
	
		SELECT 
			   DENSE_RANK() OVER (
			ORDER BY A.PROD_INST_DATE DESC,
			A.PROD_NO DESC) RANK,
			A.PROD_NO,
			B.CATEGORY_NAME,
			C.BRAND_NO,
			C.BRAND_NAME,
			A.PROD_NAME,
			A.PROD_DESC,
			A.PROD_PRICE,
			A.DISCOUNT_RATE,
			A.PROD_DETAIL_CONTENT,
			A.PROD_DETAIL_VIEW_COUNT,
			A.PROD_INST_DATE,
			A.PROD_UPT_DATE,
			A.PROD_AVAIL_YN,
			A.PROD_SIZE,
			A.PROD_COLOR
		FROM
			TBL_PRODUCT A
		 LEFT JOIN TBL_CATEGORY B ON
			(A.CATEGORY_NO = B.CATEGORY_NO)
		LEFT JOIN TBL_BRAND C ON
			(A.BRAND_NO = C.BRAND_NO)
		<!-- LEFT JOIN TBL_OPTION O ON
			(A.PROD_NO = O.REF_PROD_NO)  -->
		WHERE
			1 = 1
	</select>
	
	<select id="getOnSaleOnly" parameterType="com.pro.shop.paging.model.dto.Criteria" resultMap="productResultMap">
	
		SELECT 
				  			   DENSE_RANK() OVER (
			ORDER BY A.PROD_INST_DATE DESC,
			A.PROD_NO DESC) RANK,
			A.PROD_NO,
			B.CATEGORY_NAME,
			C.BRAND_NAME,
			A.PROD_NAME,
			A.PROD_DESC,
			A.PROD_PRICE,
			A.DISCOUNT_RATE,
			A.PROD_DETAIL_CONTENT,
			A.PROD_DETAIL_VIEW_COUNT,
			A.PROD_INST_DATE,
			A.PROD_UPT_DATE,
			A.PROD_AVAIL_YN,
			A.PROD_SIZE,
			A.PROD_COLOR
		FROM
			TBL_PRODUCT A
		 LEFT JOIN TBL_CATEGORY B ON
			(A.CATEGORY_NO = B.CATEGORY_NO)
		LEFT JOIN TBL_BRAND C ON
			(A.BRAND_NO = C.BRAND_NO)
		WHERE  A.PROD_AVAIL_YN = 'Y'
		<!-- LEFT JOIN TBL_OPTION O ON
			(A.PROD_NO = O.REF_PROD_NO)  -->
	</select>
	

	<!-- 상품 상세정보 조회 -->
	<select id="getProductDetails" resultMap="productResultMap">
		SELECT
			   A.PROD_NO
			 , B.CATEGORY_NO
			 , B.CATEGORY_NAME
			 , C.BRAND_NAME
			 , C.BRAND_NO
			 , A.PROD_NAME
			 , A.PROD_DESC
			 , A.DISCOUNT_RATE
			 , A.PROD_PRICE
			 , A.PROD_DETAIL_CONTENT
			 , A.PROD_DETAIL_VIEW_COUNT
			 , A.PROD_INST_DATE
			 , A.PROD_UPT_DATE
			 , A.PROD_AVAIL_YN
			 , A.PROD_SIZE
			 , A.PROD_COLOR
			 , T.THUMBNAIL_PATH
		  FROM TBL_PRODUCT A
		  LEFT JOIN TBL_CATEGORY B ON(A.CATEGORY_NO = B.CATEGORY_NO)
		  LEFT JOIN TBL_BRAND C ON(A.BRAND_NO = C.BRAND_NO)
		  LEFT JOIN TBL_ATTACHMENT T ON(A.PROD_NO = T.REF_PROD_NO)
		 <!--  LEFT JOIN TBL_OPTION O ON(A.PROD_NO = O.REF_PROD_NO) -->
		 WHERE A.PROD_NO = #{ prodNo }
	</select>
	
	<!-- 필터별 상품 목록 조회 -->
	<select id="getProductListByCategorySection" parameterType="com.pro.shop.paging.model.dto.ItemCriteria" resultMap="productResultMap">
		SELECT
				  DISTINCT(A.PROD_NO)
				, A.PROD_PRICE
				, A.PROD_DETAIL_VIEW_COUNT
				, A.PROD_INST_DATE
				, B.SECTION
				, A.CATEGORY_NO 
			 FROM TBL_PRODUCT A
			 LEFT JOIN TBL_CATEGORY B ON(A.CATEGORY_NO = B.CATEGORY_NO)
			 LEFT JOIN TBL_BRAND C ON(A.BRAND_NO = C.BRAND_NO)
			 LEFT JOIN (SELECT	
			 				   AA.PROD_NO AS AAPNO
						 FROM TBL_PRODUCT AA
						GROUP BY AA.PROD_NO) RT
					ON(RT.AAPNO = A.PROD_NO)
			WHERE A.PROD_AVAIL_YN = 'Y'
			<!-- <if test="section != null and section != ''">AND B.SECTION = #{ section }</if> -->
			<if test="category != null and category != ''">AND A.CATEGORY_NO IN (SELECT AA.CATEGORY_NO 
																					FROM TBL_CATEGORY AA
																					START WITH AA.CATEGORY_NO = #{ category }
																					CONNECT BY PRIOR AA.CATEGORY_NO = AA.UP_CATEGORY_NO)</if>
			
	</select>
	
	<!-- 상품별 메인썸네일 조회 -->
	<select id="getMainThumbnailByProdNo" resultMap="thumbnailResultMap">
		SELECT
			   REF_PROD_NO
			 , THUMBNAIL_PATH
			 , SAVE_PATH
		  FROM TBL_ATTACHMENT
		 WHERE ATTACH_STATUS_YN = 'Y'
		   AND FILE_TYPE = 'THUMB_MAIN'
		   AND REF_PROD_NO = #{ prodNo }
	</select>

	<!-- 상품별 서브썸네일 조회 -->
	<select id="getSubThumbnailByProdNo" resultMap="thumbnailResultMap">
		SELECT
			   REF_PROD_NO
			 , THUMBNAIL_PATH
			 , SAVE_PATH
		  FROM TBL_ATTACHMENT
		 WHERE ATTACH_STATUS_YN = 'Y'
		   AND FILE_TYPE = 'THUMB_SUB'
		   AND REF_PROD_NO = #{ prodNo }
	</select>
	
	<!-- 브랜드 추가 -->
	<insert id="addNewBrand">
		INSERT
		  INTO TBL_BRAND
		(
		  BRAND_NO
		, BRAND_NAME
		)
		VALUES
		(
		  (SELECT MAX(BRAND_NO)+1 FROM TBL_BRAND)
		, #{ brandName }
		)
	</insert>
	
	<!-- 상품 등록 -->
	<insert id="addProduct">
		INSERT
		  INTO TBL_PRODUCT
		(
			PROD_NO
			,CATEGORY_NO
			,BRAND_NO
			,PROD_NAME
			,PROD_DESC
			,PROD_PRICE
			,DISCOUNT_RATE
			,PROD_DETAIL_CONTENT
			,PROD_DETAIL_VIEW_COUNT
			,PROD_INST_DATE
			,PROD_UPT_DATE	
			,PROD_AVAIL_YN
			,PROD_SIZE
			,PROD_COLOR 
		)
		VALUES
		(
		  SEQ_PROD_NO.NEXTVAL
		, #{ categoryNo}
		, #{ brandNo }
		, #{ prodName }
		, #{ prodDesc }
		, #{ prodPrice }
		, #{ discountRate }
		, #{ prodDetailContent } 
	 	, DEFAULT
		, SYSDATE
		, SYSDATE
		, DEFAULT
		, #{ prodSize }
		, #{ prodColor } 
		)
	</insert>
	
	<!-- 상품 옵션 등록 -->
	<insert id="addProductOption">
		INSERT
		  INTO TBL_OPTION
		(
			OPTION_NO
			,REF_PROD_NO
			,REF_STOCK_NO
			,OPTION_NAME
			,OPTION_VALUE
			,OPTION_EXTRA_CHARGE
		)
		VALUES
		(
		  SEQ_OPT_NO.NEXTVAL
		, SEQ_PROD_NO.CURRVAL
		, NULL
		, #{ optionName}
	 	, #{ optionValue }	
		, #{ optionExtChrg }
		)
	</insert>
	
	
	<!-- 상품 썸네일 등록 -->
	<insert id="attachProdThumbnail">
		INSERT
		  INTO TBL_ATTACHMENT
		(
		  ATTACHMENT_NO
		, REF_PROD_NO
		, REF_REVW_NO
		, REF_INQ_NO
		, ORIG_FILE_NAME
		, SAVE_FILE_NAME
		, SAVE_PATH
		, THUMBNAIL_PATH
		, FILE_TYPE
		, ATTACH_STATUS_YN
		)
		VALUES
		(
		  SEQ_ATTACH_NO.NEXTVAL
		, #{ refProdNo }
		, NULL
		, NULL
		, #{ origFileName }
		, #{ saveFileName }
		, #{ savePath }
		, #{ thumbnailPath }
		, #{ fileType }
		, DEFAULT
		)
	</insert>
	
	
	<!-- 상품 수정 -->
	<update id="editProduct">
		UPDATE TBL_PRODUCT
			SET CATEGORY_NO = #{categoryNo}
				, BRAND_NO = #{brandNo}
				, PROD_NAME = #{prodName}
				, PROD_DESC = #{prodDesc}
				, PROD_PRICE = #{prodPrice}
				, DISCOUNT_RATE = #{discountRate}
				, PROD_DETAIL_CONTENT = #{prodDetailContent}
				, PROD_UPT_DATE = SYSDATE 
				, PROD_SIZE = #{prodSize}
				, PROD_COLOR = #{prodColor}
			WHERE PROD_NO = #{ prodNo }
	</update>
	<!-- 
	
	상품 썸네일 수정
	<insert id="eidtAttachProdThumbnail">
		UPDATE TBL_ATTACHMENT
			SET CATEGORY_NO = #{categoryNo}
				, BRAND_NO = #{brandNo}
				, PROD_NAME = #{prodName}
				, PROD_DESC = #{prodDesc}
				, PROD_PRICE = #{prodPrice}
				, DISCOUNT_RATE = #{discountRate}
				, PROD_DETAIL_CONTENT = #{prodDetailContent}
				, PROD_UPT_DATE = SYSDATE 
				, PROD_SIZE = #{prodSize}
				, PROD_COLOR = #{prodColor}
			WHERE ATTACHMENT_NO = #{ prodNo }
			
	</insert> -->
	
<!-- 상품별 옵션 조회 -->
	<select id="getOptionListByProdNo" resultMap="optionResultMap">
		SELECT A.OPTION_NO
			 , A.REF_PROD_NO
			 , A.OPTION_NAME
			 , A.OPTION_VALUE
			 , A.OPTION_EXTRA_CHARGE
		FROM TBL_OPTION A
		WHERE A.REF_PROD_NO = #{ prodNo }
	</select>
	
<!-- 상품 목록에서 완전삭제 *잘못된 정보가 게재된 경우에 한함* -->
	<delete id="deleteOption"> <!-- 1.옵션 삭제 -->
		DELETE
		  FROM TBL_OPTION A
		 WHERE A.REF_PROD_NO = (SELECT
		 							   B.PROD_NO
		 						  FROM TBL_PRODUCT B
		 						 WHERE A.REF_PROD_NO = B.PROD_NO
		 						   AND B.PROD_NO = #{ prodNo })
	</delete>
	
	
<!-- 상품 옵션 등록 -->
	<insert id="editProductOption">
		INSERT
		  INTO TBL_OPTION
		(
			OPTION_NO
			,REF_PROD_NO
			,REF_STOCK_NO
			,OPTION_NAME
			,OPTION_VALUE
			,OPTION_EXTRA_CHARGE
		)
		VALUES
		(
		  SEQ_OPT_NO.NEXTVAL
		, #{refProdNo}
		, NULL
		, #{ optionName}
	 	, #{ optionValue }	
		, #{ optionExtChrg }
		)
	</insert>
	

	
</mapper>