<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
	<meta charset="UTF-8">
	<title>관리자페이지|shop</title>
	<!-- CSS -->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	    <link th:href="@{/css/selector.css}" rel="stylesheet">
	    <link th:href="@{/css/thumbnail.css}" rel="stylesheet">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	</th:block>
</head>
<body layout:fragment="content">
	<h1>상품 수정</h1>
	<hr>
	<div class="container content-wrapper">
	<!-- <th:block layout:fragment="productToolbar">
		<div th:replace="/fragments/toolbar.html :: productToolbar" style="text-align: center;"></div>
	</th:block> -->
		<div class="infoBox">
			<form>
				<ul>
					<li class="th"><p>판매여부</p></li>
					<li class="td" th:switch="${ detail.prodAvailYn }">
						<input th:case="Y" type="text" id="isOnSale" name="isOnSale" th:value="판매중" readonly>
						<input th:case="N" type="text" id="stoppedSelling" name="stoppedSelling" th:value="판매중지" readonly>
					</li>
				</ul>
				<hr>
				<ul>
					<li class="th"><p>상품번호</p></li>
					<li class="td">
						<input type="text" id="prodNo" name="prodNo" th:value="${ detail.prodNo }" style="width: 40.5%;" readonly>
						<input type="text" id="prodInstDate" name="prodInstDate" th:value="'등록일 : ' + ${#dates.format(detail.prodInstDate, 'yyyy-MM-dd')}" style="width: 58%; margin-left: 2.5%;" disabled>
						<input type="hidden" id="today" name="today" disabled>
					</li>
				</ul>
				
				<!-- 현재 등록돼 있는 카테고리 목록을 선택지로 호출, 사용자가 추가 가능 -->
				<ul>
					<li class="th"><p>분류</p></li>
					<li class="td">
						<select id="roomCategoryName" name="roomCategoryName" class="dataTable-selector selector" onchange="roomCategory();" th:selected="${ detail.category.categoryName }">
							<option selected disabled hidden>선택</option>
							<option th:each="category : ${ category }" th:if="${category.depth == 1}" th:value="${category.categoryNo }" th:text="${ category.categoryName }"></option>
						</select>
						<select id="mainCategoryName" name="mainCategoryName" class="dataTable-selector selector" onchange="mainCategory();">
							 <option  selected disabled hidden>선택</option>
						</select>
						<select id="subCategoryName" name="subCategoryName" class="dataTable-selector selector">
							 <option selected disabled hidden>선택</option>
						</select>
					</li>
				</ul>
				<ul>
					<li class="th"><p>상품명</p></li>
					<li class="td">
						<input type="text" id="prodName" name="prodName" th:value="${ detail.prodName }">
					</li>
				</ul>
				<ul>
					<li class="th"><p>상품 설명</p></li>
					<li class="td">
						<input type="text" id="prodDesc" name="prodDesc" th:value="${ detail.prodDesc }">
					</li>
				</ul>
				<!-- DiscountRate ENUM 호출 -->
				<ul>
					<li class="th"><p>할인율 및 원가</p></li>
					<li class="td">
						<select id="discount" name="discount" class="dataTable-selector selector">
							<option th:each="rate : ${T(com.pro.shop.product.model.dto.DiscountRate).values()}" th:value="${ rate.getValue() }" th:text="|${ rate.getValue() }%|"></option>
						</select>
						<input type="number" id="prodPrice" name="prodPrice" th:value="${ detail.prodPrice }">
					</li>
				</ul>
				<!-- 현재 등록돼 있는 브랜드 목록 호출, 사용자가 추가 가능 -->
				<ul>
					<li class="th"><p>브랜드</p></li>
					<li class="td">
						<select id="brandName" name="brandName" class="dataTable-selector selector" onchange="addABrand();" th:selected="${ detail.brandName }">
							<option th:each="brand : ${ brand }" th:value="${ brand.brandName }" th:text="${ brand.brandName }"></option>
							<option value="etc">새 브랜드 추가</option>
						</select>
						<input type="text" id="addNewBrand" name="addNewBrand" disabled>
					</li>
				</ul>
   				<div class="contentBox">
	   				<ul>
						<li class="th"><p>상세 내용</p></li>
					</ul>
					<textarea id="prodDetailContent" name="prodDetailContent" th:text="${ detail.prodDetailContent }"></textarea>
				</div>
				<div class="thumbnailBox">
					<ul>
						<li class="th"><p>대표 썸네일</p></li>
						<li class="thumbTd">
							<div class="imageBox">
								<th:block th:if="${ mainThumb }">
									<img th:src="${ mainThumb.thumbnailPath }">
								</th:block>
								<th:block th:if="!${ mainThumb }">
									<label for="mainThumb" class="thumbLabel">
										<i class="fa-solid fa-image" style="font-size: 300%;"></i>
									</label>
								</th:block>
							</div>
						</li>
					</ul>
					<ul>
						<li class="th"><p>서브 썸네일</p></li>
						<li class="thumbTd">
							<div class="imageBox">
								<th:block th:if="${ subThumb }">
									<img th:src="${ subThumb.thumbnailPath }">
								</th:block>
								<th:block th:if="!${ subThumb }">
									<label for="subThumb" class="thumbLabel">
										<i class="fa-solid fa-image" style="font-size: 300%;"></i>
									</label>
								</th:block>
							</div>
						</li>
					</ul>
					<input type="file" id="mainThumb" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
					<input type="file" id="subThumb" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
				</div>
				<div class="buttonBox">
					<button type="button" class="btn btn-dark" onclick="submitEditProdForm()">상품수정</button>
				</div>
			</form>
		</div>
	</div>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/manageProductList.js}" type="text/javascript"></script>
    	<script th:src="@{/js/selector.js}" type="text/javascript"></script>
    	<script th:src="@{/js/product.js}" type="text/javascript"></script>
    	
    	<!-- CKEditor4 -->
	  	<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
	  	<script type="text/javascript">
	  	$(function() {
			let ckeditor_config = {
					filebrowserUploadMethod : 'form',
					filebrowserUploadUrl : '/admin/product/add/contentImageUpload',
					language : 'ko'
			};
			CKEDITOR.replace('prodDetailContent', ckeditor_config);
	  	});
		</script>
    	
    	<!-- Select2 -->
    	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	</th:block>
</body>
</html>